<h1>快速上字幕</h1>
<div class="container">
  <div class="row">
    <input type="radio"
           [value]="SourceTypeEnum.Youtube"
           [(ngModel)]="sourceType" />
    youtube連結
    <input type="url"
           *ngIf="sourceType === SourceTypeEnum.Youtube"
           [(ngModel)]="youtubeUrl"
           (change)="loadFromYoutube()" />
  </div>
  <div class="row">
    <input type="radio"
           [value]="SourceTypeEnum.LocalFile"
           [(ngModel)]="sourceType" />
    上傳mp4
    <input type="file"
           accept="video"
           *ngIf="sourceType === SourceTypeEnum.LocalFile"
           (change)="loadFromMp4File($event)"
           [(ngModel)]="mp4File" />
  </div>
</div>
<p class="container note">K: 下一行開始 | L: 這一行提前結束 | I: 前捲一行 | O: 後捲一行 | U: 倒帶 3 秒 | P: 前進 3 秒 | Q: 製作 SRT 檔</p>
<p class="container note">K: Next Line | L: This Line Ends Early | I: Scroll Back | O: Scroll Forward | U: Rewind | P:
  Forward | Q: Make SRT File</p>
<div class="container">
  <div class="videoPreview">
    <youtube-player *ngIf="sourceType === SourceTypeEnum.Youtube"
                    #youtube
                    [width]="640"
                    [height]="320"
                    [videoId]="youtubeVideoId"
                    (apiChange)="setListener($event)"></youtube-player>
    <video [src]="mp4FileSafeUrl"
           #mp4Player
           (click)="clickMp4Player($event)"
           class="videoPreview"
           *ngIf="sourceType === SourceTypeEnum.LocalFile"></video>
  </div>
  <div class="subTitle-area">
    <input type="file"
           (change)="uploadText($event)" />
    <textarea [ngModel]="srtText"
              disabled
              class="subtitle"
              cols="30"
              rows="10"></textarea>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <th width="400">開始時間/結束時間</th>
      <th>文字</th>
      <th>
        <button class="btn  btn-primary"
                (click)="add()">新增</button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let srt of srtList;let i = index;">
        <td width="400">
          <app-timepicker [(ngModel)]="srt.startTime.time"></app-timepicker>
          <app-timepicker [(ngModel)]="srt.endTime.time"></app-timepicker>
        </td>
        <td>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="srt.content" />
        </td>
        <td>
          <button class="btn btn-primary"
                  (click)="deleteRow(i)">刪除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
